[submodule "Plugins/CREWNetworkUtilities"]
	path = Plugins/CREWNetworkUtilities
	url = https://github.com/CREW-Brussels/CREWNetworkUtilities.git
[submodule "Plugins/CHORUS"]
	path = Plugins/CHORUS
	url = https://github.com/CREW-Brussels/CHORUS.git
[submodule "Plugins/CIRCA"]
	path = Plugins/CIRCA
	url = https://github.com/CREW-Brussels/CIRCA.git
[submodule "Plugins/CREWAnimationUtilities"]
	path = Plugins/CREWAnimationUtilities
	url = https://github.com/CREW-Brussels/CREWAnimationUtilities.git
[submodule "Plugins/CREWVideoRouter"]
	path = Plugins/CREWVideoRouter
	url = https://github.com/CREW-Brussels/CREWVideoRouter.git
[submodule "Plugins/SPINOSC"]
	path = Plugins/SPINOSC
	url = https://github.com/CREW-Brussels/SPINOSC.git
[submodule "Plugins/CREWXRUtilities"]
	path = Plugins/CREWXRUtilities
	url = https://github.com/CREW-Brussels/CREWXRUtilities.git
